/* del  _media768.scss  */
/* Se aplica cuando el ancho de la pantalla es menor o igual a 768px
   max-width: Define un límite superior para el ancho de la pantalla.
                el orden para aplicar es 1140;992;768;440
     min-width: Define un límite inferior para el ancho de la pantalla.
                el orden para aplicar es 440;768;992;1140

  El @media de lasFotos están en _fotos.scss  

  ***    /media1  ***                  */

// @media (max-width: 768px) {
@media (min-width: 48rem) {

  /* media 768px */

  .headerNav {

    div {
      ul {
        flex-direction: row;
        gap: 1.25rem; //20px
      }
    }
  }

  .contenedor {
    // definido en _body.scss
    // dejo mas margen a los costados
    max-width: 80%;
  }

  .cardTemaDePagina {
    // definida en _cards.scss
    flex-direction: row;
  }

  .cardTemaImg {
    // definida en _cards.scss
    //la foto del tema 
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem; //10px
    max-width: auto; //ancho de la imagen del tema
    height: 12.5rem; // 200px// 15.625rem; //250px;  alto de la imagen del tema
    text-align: center;
    opacity: 0.7; // Ajusta el valor de opacidad entre 0 y 1 */

  }

  footer {
    // definido en _footer.scss
    flex-direction: row;

  }

  .footerTodo {
    // definido en _footer.scss
    flex-direction: row;

  }

}