/*  de _media992.scss  */
/* Se aplica cuando el ancho de la pantalla es menor o igual a 992px*/
/* max-width: Define un límite superior para el ancho de la pantalla.
                el orden para aplicar es 1140;768;570;440
     min-width: Define un límite inferior para el ancho de la pantalla.
                el orden para aplicar es 1140;768;570;440
                  el orden para aplicar es 1140;768;570;440
  */

.col-lg-11 {
  width: 91.66%;
  /* (11/12) * 100% para ocupar 11 de 12 columnas */
}

.col-lg-1 {
  width: 8.33%;
  /* (1/12) * 100% para ocupar 1 de 12 columnas */
}

@media (max-width: 992px) {
   /* media 992px */
  .contenedor {
    // definido en _body.scss
    // /* para verificar la ejecucion */    
    // background-color: rgb(249, 249, 249);

  }

  footer {
    // definido en _footer.scss
    flex-direction: row;

  }

  .col-lg-11 {
    /* El estilo dentro de esta media query se aplicará a pantallas de al menos 992px de ancho */
  }

  .col-lg-1 {
    /* El estilo dentro de esta media query se aplicará a pantallas de al menos 992px de ancho */
  }

}