/* del   _media576.scss */
/* Se aplica cuando el ancho de la pantalla es menor o igual a 576px*/
/* max-width: Define un límite superior para el ancho de la pantalla.
                el orden para aplicar es 1140;992;768;440
     min-width: Define un límite inferior para el ancho de la pantalla.
                el orden para aplicar es 440;768;992;1140

   El @media de lasFotos están en _fotos.scss  

  ***    /media1  ***                  */


// @media (max-width: 576px) {
@media (min-width: 576px) {

  .headerNav {

    // definida en _header.scss 
    div {
      ul {
        flex-direction: row;
        gap: 1.25rem; //20px
      }
    }
  }

  .contenedor {
    // definido en _body.scss
    max-width: 95%;  // dejo menos margen a los costados
  }

  .cardTemaDePagina {
    // definida en _cards.scss
    flex-direction: column;
  }

  .cardTemaParrafo {
    color: textColorNormal;
  }

  .cardTemaImg {
    // definida en _cards.scss
    //max-width: 30%; //ancho de la imagen del tema
    max-height: 9.375rem;  //150px;  alto de la imagen del tema
    max-width: auto; //ancho de la imagen del tema
  }

  footer {
    // definido en _footer.scss
    flex-direction: column;

  }

  .footerTodo {
    // definido en _footer.scss
    flex-direction: column;

  }

}