/*   de  __animaciones.scss  */


/*Animacion del título principal de la pagina */
.delay1 {
    position: relative;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 2s;
    // font-size: 2.5rem;// 40px ; 14px;
    // el font-size se cambia en el hover
    // su valor inicial es el standard de h3 definido en el main-index.scss
}

.delay1:hover {
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 1s;
    font-size: 2.5rem; // 40px ; 
    text-align: center;
}


