// son colecciones de propiedades, que pueden o no tener relacion
// se pueden presentar de manera estatica o de manera dinamica

// declaracion estatica, no usamos parametros
@mixin miFlex1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;  //20px
}
// donde se quiera usar, en ese preciso lugar, se debe colocar
// @include miFlex;  
// y pondrá todo el codigo que hemos escrito en "miFlex1" en este caso
// --------------------------------------------- +

// declaracion dinamica, usamos parametros
@mixin miFlex2($direccion,$justify,$alineacion,$gap){
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $alineacion;
    gap: $gap; 
}

