// aqui declaramos las variables, las cuales contendrán c/u 
// el valor de una propiedad 
// El nombre de una variable siempre empieza con el signo $

// 
$backgroundColorMenu: rgb(224, 223, 201);
$backgroundColorContenedor:rgb(217, 240, 248);
$colorFondo: rgb(124, 174, 190);

$colorBordeLasFotos:rgb(212, 216, 220);
/* textos */
$textFooterColor: rgb(233, 233, 245);
/* en el menu el fondo del <a:over> */
$textAoverColor: rgb(168, 198, 241);
$textColorNormal:black;
$textColorSuave1:rgba(0, 0, 0, 0.514);

