/*  del _footer.scss */
footer {
    //position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row; // lo modificamos en _media576.scss y en _media440.scss
    flex: 0 1 auto;
    max-width: 100%; //33.75rem; //540px  //
    background-color: $colorFondo;

}

.footerDivIcono {
    width: 30%;
    align-content: space-around;
    // flex: 0 1 auto;     // Mantiene el tamaño natural de cada contenedor */
    text-align: left;   // Centra la imagen horizontalmente dentro de su contenedor */
    img {
        /* el icono de la izquierda del pie de pagina */
        width: 5.5rem; //88px
        border-radius: 0.625rem; //10px
        opacity: 0.7; // Ajusta el valor de opacidad entre 0 y 1 */
        margin: .3rem; // 4.8px
    }
}

.footerDivTexto {
    text-align: left;
    color: $textColorSuave1; //$textFooterColor;
    font-size: 0.75rem; // 12px;
    max-width: 70%;
}