/* éste es el código scss de mi reset  */
*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

};

/* y otras propiedades a nivel general */
a{
    text-decoration: none;
};


